.bg-login-image {
    background: url($login-image);
    background-position: center;
    background-size: cover;
}

.bg-register-image {
    background: url($register-image);
    background-position: center;
    background-size: cover;
}

.bg-password-image {
    background: url($password-image);
    background-position: center;
    background-size: cover;
}

form.user {
    .custom-checkbox.small {
        label {
            line-height: 1.5rem;
        }
    }

    .form-control-user {
        font-size: 0.8rem;
        border-radius: 10rem;
        margin: 1rem 0;
    }

    .btn-user {
        font-size: 0.8rem;
        border-radius: 10rem;
        margin: 1rem 0;
    }
}

.btn-google {
    @include button-variant($brand-google, $white);
}

.btn-facebook {
    @include button-variant($brand-facebook, $white);
}
